<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/Forms.css}">
</head>
  <body>
  <div id="loader">
    <div class="spinner"></div>
  </div>
    <div class="container">

      <aside class="aside">
        <a class="aside-link button" href="/register">Cadastro</a>
        <a class="aside-link button" href="/login">Login</a>
      </aside>

      <main class="mainContainer">

        <h2 class="title">Login</h2>

        <form class="form" method="post" th:action="@{/login/}" >
          <label for="name" class="form-label">User name: </label>
          <input id="name"
                 class="form-input"
                 type="text"
                 required
                 min="5"
                 maxlength="50"
                 name="username"
                 placeholder="User name"
          >

          <span class="error" th:if="${errorUser}" th:text="${errorUser}"></span>

          <label for="password" class="form-label">Password: </label>
          <input id="password"
                 class="form-input"
                 type="password"
                 required
                 maxlength="8"
                 minlength="8"
                 name="password"
                 placeholder="Password"
          >

          <span class="error" th:if="${errorPassword}" th:text="${errorPassword}"></span>

          <span class="error" th:if="${errorEmpty}" th:text="${errorEmpty}"></span>

          <button class="form-button button" type="submit" >Login</button>

        </form>
      </main>
    </div>
    <script th:src="@{/Js/global.js}" defer></script>
  </body>
</html>